
<div class="content">

    <div class="pheno">

            ss
            ss
            ss

    </div>

        <div class="function">

                <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/399898173_336210319142047_8648583322540418809_n.png?stp=dst-png_p206x206&_nc_cat=100&ccb=1-7&_nc_sid=510075&_nc_ohc=HeagFo8YabgAX9YeX9B&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRBUsvkUJDKg4Vji2T69YQX1xo2qJ4oSXhbgZlU3yPP9A&oe=659A035E" alt="">

        </div>



                <div class="login">

                    
                    
                    @if(isloggin) {
                        <button (click)="logout()" class="fix"> Đăng Xuất </button>
                        <h2> Login </h2>

                        <input type="text" placeholder="Username"> <i class="ri-user-line"></i>
                        <input type="password" placeholder="Password"><i class="ri-eye-off-line"></i>
                        
                        
                        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css " rel="stylesheet" >
                        <button class="Dangnhap1"> <a href="http://localhost:50788/"> Đăng Nhập   </a> </button>
                        
                    } @else {
                        
                        <button (click)="login()" class="Dangnhap"> Đăng  Nhập </button>
                        
                        
                       
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/IHxdByfPuLY?si=364haPAE2F80nHRF&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  -->
                            <audio controls >


                            </audio>
                       


                 

}

</div>

</div>


