*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body,html
{
  background: url(https://i.pinimg.com/originals/b0/ac/bb/b0acbb8789c3be259010e77d9f6dadee.gif) no-repeat center fixed ;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
}


